<html>
 <head>
  <link rel="stylesheet" type="text/css" href="/stylesheet.css"/>
  <title>List of all pages</title>
 </head>
 <body>
  <table class="all" cols="1" rows="1" align="center"><tr><td>
   <h1 class="logo">
    <a href="/">
     <img src="/images/small-logo.png" alt="Nifki" style="float:left;"/>
    </a>
    No such page
   </h1>
   <br/>
   <p>No-one's made a page called %(pagename)s yet!
     You can <a href="new/">make a new one</a> or 
     return to <a href="/">the Nifki home page</a></p>
  </td></tr></table>
 </body>
</html>
