<html>
 <head>
  <link rel="stylesheet" type="text/css" href="/stylesheet.css"/>
  <title>Welcome to Nifki</title>
 </head>
 <body>
  <table class="all" cols="1" rows="1" align="center"><tr><td align="center">
   <h1>Welcome to Nifki</h1>
   <img src="/images/med-logo.png" alt="Nifki logo"/>
   <p>Make your own computer games, or just mess about with everyone else's!</p>
   <p><a href="/pages/">List of all pages</a></p>
   <p><a href="/tutorial.txt">Tutorial</a></p>
  </td></tr></table>
 </body>
</html>
